// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.artist-row {

}

$primary-color: #9C27B0;
$primary-color-light: #E1BEE7;
$accent-color: #FFC107;
$primary-text: #212121;

.artist-cell {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $primary-color;
	transition: background-color 0.5s ease;
	&:hover {
		background-color: $accent-color;
		a {
			@extend .senseless-hyperlink;
			color: $primary-text;
		}
	}	

	a {
		color: white;
		@extend .senseless-hyperlink;
	}
}

.senseless-hyperlink {
	text-decoration: none; /* no underline */
}