// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #9C27B0;
$primary-color-light: #E1BEE7;
$accent-color: #FFC107;
$accent-color-translucent: rgba(0, 128, 128, 0.3); //#FFC107;
$standard-background-color: rgba(256, 256, 256, 0.3); //#FFC107;
$primary-text: #212121;

$standard-margin: 50px;

html { 
  background: url('background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background-color: transparent !important;

	a {
  		@extend .senseless-hyperlink;
  		transition: color 0.5s ease;

	  	&:hover {
	  		@extend .senseless-hyperlink;
	  		background-color: transparent !important;
	  		color: #8B0000 !important;
	  	}
  }
}

#main-title {
	margin-top: 30vh;
}

.breadcrumb {
	border-radius: 0 !important;
	background-color: $standard-background-color !important;
	margin-bottom: 0 !important;
}


.artist-row {
	background-color: transparent;
}

.title {
	margin-top: $standard-margin;
	margin-bottom: $standard-margin; 
}

#artist-header {
	margin-top: 1em;
	margin-bottom: 1em;
}

.artist-cell {
	padding-top: $standard-margin;
	padding-bottom: $standard-margin;
	background-color: transparent;
	transition: background-color 1s ease;
	&:hover {
		background-color: $standard-background-color;
		a {
			color: $primary-text;
		}
	}	

	a {
		color: $primary-text;
	}
}

.senseless-hyperlink {
	text-decoration: none; /* no underline */
}