// Place all the styles related to the poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-group-phonetic {
}
.btn-phonetic {
	background-color: rgba(255,255,255, 0.5);
	&:hover {
		background-color: rgba(255,255,255, 0.8);
	}
}

article {
	margin: 0 auto;
	writing-mode: vertical-rl;
	letter-spacing: .3em;
	
	h2 {
	  -webkit-margin-before: 0.2em;
	  -webkit-margin-after: 0.2em;
	  line-height: 4;
	}
}